= form_for @photo do |f|
  %p
    = f.label :title
    = f.text_field :title
    = @photo.errors[:title].join(",")
  %p
    = f.label :url
    = f.text_field :url
    = @photo.errors[:url].join(",")
  = f.submit "Save"